
Wordpress/wp-admin
Wordpress/wp-includes
Wordpress/wp-content/plugins
Wordpress/wp-content/themes/twentytwenty
Wordpress/wp-content/themes/twentytwentyone
Wordpress/wp-content/themes/twentytwentytwo
Wordpress/index.php
Wordpress/license.txt
Wordpress/readme.html
Wordpress/wp-activate.php
Wordpress/wp-blog-header.php
Wordpress/wp-comments-post.php
Wordpress/wp-config-sample.php
Wordpress/wp-content/index.php
Wordpress/wp-content/themes/index.php
Wordpress/wp-cron.php
Wordpress/wp-links-opml.php
Wordpress/wp-load.php
Wordpress/wp-login.php
Wordpress/wp-mail.php
Wordpress/wp-settings.php
Wordpress/wp-signup.php
Wordpress/wp-trackback.php
Wordpress/xmlrpc.php
Wordpress/wp-config.php
Wordpress/.htaccess
